{% extends 'base.html' %}
{% load static %}
{% block title %}Form {% endblock %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

<div class="container">
    <div class="row">
        <label class="gray text-center"><h1>Registration Form</h1></label><br>
    <br>


<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <br>
        <button class="btn btn-primary" type="submit" style="  width: 500px;" type="button">Submit</button>
</form>
<br>
<br>

</div>
</div>

<script src="{% static 'js/orderDropdownSelection.js' %}"></script>
<br>
<br>
<br>
<br>
    {% for message in messages %}
        <div class="alert alert-success" role="alert">
            <i class="fa fa-check-circle" aria-hidden="true"></i> {{message}}!
        </div>
        {% endfor %}
    {% endblock %}