{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <label class="gray text-center"><h1>Registration Form</h1></label><br>

        <div class="col-md-12">
            <form action="" method="POST" class="p-3 shadow">
                {% csrf_token %}
                <div class="form-group">
                    <label class="gray">Name :</label><br>
                    <input type="text" class="form-control" name="Name" placeholder="Full Name">
                </div>
                <div class="form-group">
                    <label class="gray">Date of Birth :</label><br>
                    <input type="date" class="form-control" name="DOB" placeholder="DOB">
                </div>
                <div class="form-group">
                    <label class="gray">Age :</label><br>
                    <input type="number" class="form-control" name="Age" placeholder="Enter your Age">
                </div>
                <div class="form-group">
                    <label class="gray">Gender :</label><br>
                    <input type="text" class="form-control" name="Gender" placeholder="Male or Female">
                </div>
                <div class="form-group">
                    <label class="gray">Phone Number :</label><br>
                    <input type="text" class="form-control" name="Phone" placeholder="Enter your Phone number">
                </div>
                <div class="form-group">
                    <label class="gray">Email :</label><br>
                    <input type="email" class="form-control" name="Email" placeholder="Enter your Email">
                </div>
                <div class="form-group">
                    <label class="gray">Address :</label><br>
                    <input type="text" class="form-control" name="Address" placeholder="Enter your Address">
                </div><br>
                <div class="form-group">
                    <label class="gray">District :</label><br>
                    <select class="form-control" name="District">
                        <option value="">Select District</option>
                        {% for dist in dist %}
                        <option value="{{dist.name}}">{{dist.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                 <div class="form-group">
                    <label class="gray">Branch :</label><br>
                    <select class="form-control" name="Branch">
                        <option value="">Select Branch</option>
                        {% for bran in bran %}
                        <option value="{{bran.name}}">{{bran.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                 <div class="form-group">
                    <label class="gray">Account :</label><br>
                    <select class="form-control" name="Account">
                        <option value="">Select Account type</option>
                        {% for acc in acc %}
                        <option value="{{acc.name}}">{{acc.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                 <div>
                    <label class="gray">Materials :</label><br>
                      {% for cd in cd %}
                     <input type="checkbox" class="form-check-input" value="{{cd.name}}" name="Materials">{{cd.name}}
                     {% endfor %}
                </div>



                <input type="submit" class="btn btn-success">
            </form><br>
             <p class="text-center">
                 <a class="btn btn-primary" href="{% url 'home:index' %}">home</a>
                </p>
               {% for msg in messages %}
                <h4>{{msg}} </h4>
                {% endfor %}
        </div>
    </div>
</div>
{% endblock %}













<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport"-->
<!--          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <title>Dependent Dropdown in Django</title>-->
<!--</head>-->
<!--<body>-->
<!--<h2>Registration Form</h2>-->

<!--<form method="POST" id="RegisterForm" data-cities-url="{% url 'ajax_load_branches' %}">-->
<!--    {% csrf_token %}-->
<!--    {{ form.as_p }}-->
<!--    <input type="submit" value="Submit">-->
<!--</form>-->

<!--<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>-->

<!--&lt;!&ndash;<script>&ndash;&gt;-->
<!--&lt;!&ndash;    $("#id_country").change(function () {&ndash;&gt;-->
<!--&lt;!&ndash;        const url = $("#personForm").attr("data-cities-url");  // get the url of the `load_cities` view&ndash;&gt;-->
<!--&lt;!&ndash;        const countryId = $(this).val();  // get the selected country ID from the HTML input&ndash;&gt;-->

<!--&lt;!&ndash;        $.ajax({                       // initialize an AJAX request&ndash;&gt;-->
<!--&lt;!&ndash;            url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )&ndash;&gt;-->
<!--&lt;!&ndash;            data: {&ndash;&gt;-->
<!--&lt;!&ndash;                'country_id': countryId       // add the country id to the GET parameters&ndash;&gt;-->
<!--&lt;!&ndash;            },&ndash;&gt;-->
<!--&lt;!&ndash;            success: function (data) {   // `data` is the return of the `load_cities` view function&ndash;&gt;-->
<!--&lt;!&ndash;                $("#id_city").html(data);  // replace the contents of the city input with the data that came from the server&ndash;&gt;-->
<!--&lt;!&ndash;                /*&ndash;&gt;-->

<!--&lt;!&ndash;                let html_data = '<option value="">-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</option>';&ndash;&gt;-->
<!--&lt;!&ndash;                data.forEach(function (city) {&ndash;&gt;-->
<!--&lt;!&ndash;                    html_data += `<option value="${city.id}">${city.name}</option>`&ndash;&gt;-->
<!--&lt;!&ndash;                });&ndash;&gt;-->
<!--&lt;!&ndash;                console.log(html_data);&ndash;&gt;-->
<!--&lt;!&ndash;                $("#id_city").html(html_data);&ndash;&gt;-->

<!--&lt;!&ndash;                */&ndash;&gt;-->
<!--&lt;!&ndash;            }&ndash;&gt;-->
<!--&lt;!&ndash;        });&ndash;&gt;-->

<!--&lt;!&ndash;    });&ndash;&gt;-->
<!--&lt;!&ndash;</script>&ndash;&gt;-->

<!--</body>-->
<!--</html>-->